@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --highlight-color: #136c8a;
    --link-color: #136c8a;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #083d4d;
}

h1 {
    font-weight: 700;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

h4 {
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    margin: 0;
    color: var(--highlight-color);
}

h5 {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 24px;
    margin: 20px 0 10px 0;
}

p {
    line-height: 20px;
    margin-top: 5px;
}

a {
    /* color: var(--highlight-color); */
    color: var(--link-color);
    text-decoration: none;
}

b {
    font-weight: 600;
}

.site-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 30px;
    height: 100vh;
}

.site-wrapper > * {
    padding: 20px 0;
}

.site-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 40px;
    min-width: 400px;
    height: 100%;
}

.site-sidebar-bottom {
    margin-bottom: 40px;
}

.site-content-main {
    padding-left: 420px; 
    padding-right: 480px;

    flex: 1;
    overflow: auto;
    /* min-width: 700px; */
    padding-top: 14px;
    padding-bottom: 30px;
}

.site-content-main:first-child {
    margin-top: 0px;
}

.site-content-secondary {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 40px;
    width: 370px;
    height: 100%;
}

.site-content-secondary-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 70px;
    position: relative;
}

.slide-one, .slide-two, .slide-three {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 40px;
    transition: opacity 0.5s ease-in-out;
}

.slide-one {
    opacity: 1;
}

.slide-two, .slide-three {
    opacity: 0;
}

.slide-one img, .slide-two img, .slide-three img {
    width: 100%;
    object-fit: contain;
    opacity: 90%;
}

.caption {
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    color: var(--highlight-color);
    margin: 0;
    margin-top: 10px;
}

.staff-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.staff-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.headshot {
    height: 140px;
}

.staff-name .staff-title {
    margin: 2px;
    padding: 0;
}

.staff-name {
    font-weight: 600;
    margin-bottom: 0;
}

.staff-title {
    margin: 0;
    font-style: italic;
}

@media (max-width: 1200px) {
    .site-wrapper {
        flex-direction: column;
    }
    .site-sidebar {
        position: relative;
        height: auto;
    }
    .site-content-main {
        position: relative;
        height: auto;
        padding: 0 40px 0 40px;
        overflow: visible;
    }
    .site-content-secondary {
        position: relative;
        height: auto;
    }
    .slide-one, .slide-two, .slide-three {
        position: relative;
        display: block;
        opacity: 1;
    }
}